@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

$font: 'Roboto',sans-serif;

$blue: #3C91E6;
$offwhite: #f3f3f3;
$dark: #3e3e3e;
$lightgrey: #cbcbcb;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;